<app-file-upload (patientsUploaded)="updatePatientList()"></app-file-upload>

<div class="table-responsive-md" style="margin-top: 50px;">
    <table datatable [dtOptions]="dtops" [dtTrigger]="dtTrig" class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.birthday | date}}</td>
                <td>{{patient.gender.shortGender}}</td>
                <td>
                    <a class="btn btn-primary" routerLink="/edit/{{patient.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
